<header class="bmd-layout-header">
  <div class="navbar navbar-light bg-faded animate__animated animate__fadeInDown">
    <!-- زر فتح القائمة الجانبية -->
    <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-s1">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav ml-auto">
      <!-- صورة المستخدم -->
    <li class="nav-item">
  <i class="fas fa-user-circle fa-2x c-main"></i>
</li>


      <!-- اسم المستخدم وقائمة الخيارات -->
     <li class="nav-item">
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= user.name %>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
      <button class="dropdown-item" type="button">
        <i class="far fa-user fa-sm c-main mr-2"></i> الملف الشخصي
      </button>
      <button onclick="dark()" class="dropdown-item" type="button">
        <i class="fas fa-moon fa-sm c-main mr-2"></i> الوضع الليلي
      </button>
      <button class="dropdown-item" type="button">
        <i class="fas fa-cog fa-sm c-main mr-2"></i> الإعدادات
      </button>
      <div class="dropdown-divider"></div>
      <form action="/auth/logout" method="POST" class="d-inline">
        <button type="submit" class="dropdown-item">
          <i class="fas fa-sign-out-alt c-main fa-sm mr-2"></i> تسجيل الخروج
        </button>
      </form>
    </div>
  </div>
</li>

    </ul>
  </div>
</header>
