<p class="side-comment">الحضور والغياب</p>

<!-- تسجيل الحضور -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-calendar-check mr-1"></i> الحضور اليومي
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <!-- تسجيل الحضور اليومي -->
    <li class="side-item"><a href="/attendance/register">تسجيل الحضور اليومي</a></li>

    <!-- سجلات الحضور -->
    <li class="side-item"><a href="/attendance/logs">سجلات الحضور والغياب</a></li>
  </div>
</ul>
