<p class="side-comment">School</p>

<li class="side a-collapse short">
  <a href="/dashboard" class="side-item">
    <i class="fas fa-tachometer-alt mr-1"></i> لوحة التحكم
  </a>
</li>

<!-- المعلمين -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-user-tie mr-1"></i> المدرسين
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/teachers">جميع المدرسين</a></li>
    <li class="side-item"><a href="/teachers/create">اضافة مدرس جديد</a></li>
  </div>
</ul>

<!-- الطلاب -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-user-graduate mr-1"></i> الطلاب
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/students">جميع الطلاب</a></li>
    <li class="side-item"><a href="/students/create">اضافة طالب جديد</a></li>
  </div>
</ul>

<!-- الفصول -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-chalkboard-teacher mr-1"></i> الفصول
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/classes">جميع الفصول</a></li>
    <li class="side-item"><a href="/classes/create">اضافة فصل جديد</a></li>
  </div>
</ul>

<!-- الشعب -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-layer-group mr-1"></i> الشعب
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/sections">جميع الشعب</a></li>
    <li class="side-item"><a href="/sections/create">اضافة شعبة جديدة</a></li>
  </div>
</ul>

<!-- الموظفين -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-users-cog mr-1"></i> الموظفين
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/employees">جميع الموظفين</a></li>
    <li class="side-item"><a href="/employees/create">اضافة موظف جديد</a></li>
  </div>
</ul>

<!-- الواردات -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-money-bill-wave mr-1"></i> الواردات
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/incomes">جميع الواردات</a></li>
    <li class="side-item"><a href="/incomes/create">اضافة وارد جديد</a></li>
  </div>
</ul>

<!-- الصادرات -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-file-invoice-dollar mr-1"></i> الصادرات
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/expenses">جميع الصادرات</a></li>
    <li class="side-item"><a href="/expenses/create">اضافة صادر جديد</a></li>
  </div>
</ul>

<!-- الموردين -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-truck-loading mr-1"></i> الموردين
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/suppliers">جميع الموردين</a></li>
    <li class="side-item"><a href="/suppliers/create">اضافة مورد جديد</a></li>
  </div>
</ul>
