<p class="side-comment">School</p>

<li class="side a-collapse short">
  <a href="/dashboard" class="side-item">
    <i class="fas fa-tachometer-alt mr-1"></i> لوحة التحكم
  </a>
</li>

<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-user-tie mr-1"></i> المدرسين
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/teachers">جميع المدرسين</a></li>
    <li class="side-item"><a href="/teachers/create">اضافة مدرس جديد</a></li>
  </div>
</ul>

<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-user-graduate mr-1"></i> الطلاب
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/students">جميع الطلاب</a></li>
  </div>
</ul>
