<p class="side-comment">المدرسة</p>

<li class="side a-collapse short">
  <a href="/" class="side-item">
    <i class="fas fa-tachometer-alt mr-1"></i> لوحة التحكم
  </a>
</li>

<!-- المعلمين -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-user-tie mr-1"></i> المدرسين
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/school-admin/teachers">جميع المدرسين</a></li>
    <li class="side-item"><a href="/school-admin/teachers/create">اضافة مدرس جديد</a></li>
  </div>
</ul>

<!-- الطلاب -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-user-graduate mr-1"></i> الطلاب
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/school-admin/students">جميع الطلاب</a></li>
    <li class="side-item"><a href="/school-admin/students/create">اضافة طالب جديد</a></li>
  </div>
</ul>

<!-- المواد -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-book mr-1"></i> المواد
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/school-admin/subjects">جميع المواد</a></li>
    <li class="side-item"><a href="/school-admin/subjects/create">اضافة مادة جديدة</a></li>
  </div>
</ul>

<!-- الفصول -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-chalkboard-teacher mr-1"></i> الفصول
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/school-admin/classes">جميع الفصول</a></li>
    <li class="side-item"><a href="/school-admin/classes/create">اضافة فصل جديد</a></li>
  </div>
</ul>

<!-- الشعب -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-layer-group mr-1"></i> الشعب
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/school-admin/sections/create">اضافة شعبة جديدة</a></li>
  </div>
</ul>

<!-- الموظفين -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-users-cog mr-1"></i> الموظفين
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/school-admin/employees">جميع الموظفين</a></li>
    <% if (user.role === 'school-admin') { %>
      <li class="side-item">
        <a href="/school-admin/employees/create">اضافة موظف جديد</a>
      </li>
    <% } %>

  </div>
</ul>

<!-- تسجيل الحضور والغياب -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-calendar-check mr-1"></i> حضور وغياب
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <!-- موظفي الحضور -->
    <li class="side-item"><a href="/school-admin/attendance-users">موظفو الحضور</a></li>
    <li class="side-item"><a href="/school-admin/attendance-users/create">اضافة موظف حضور جديد</a></li>

    <!-- تسجيل الحضور اليومي -->
    <li class="side-item"><a href="/school-admin/attendance/register">تسجيل الحضور اليومي</a></li>

    <!-- سجلات الحضور -->
    <li class="side-item"><a href="/school-admin/attendance/logs">سجلات الحضور والغياب</a></li>
  </div>
</ul>

<!-- الواردات -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-money-bill-wave mr-1"></i> الواردات
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/school-admin/incomes">جميع الواردات</a></li>
    <li class="side-item"><a href="/school-admin/incomes/create">اضافة وارد جديد</a></li>
  </div>
</ul>



<!-- الموردين -->
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-truck-loading mr-1"></i> الموردين
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/school-admin/suppliers">جميع الموردين</a></li>
    <li class="side-item"><a href="/school-admin/suppliers/create">اضافة مورد جديد</a></li>
  </div>
</ul>

<% if (user.role === 'school-admin') { %>
<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-cogs mr-1"></i> اعدادات المدرسة
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/school-admin/coordinator">منسق المدرسة</a></li>
  </div>
</ul>
<% } %>
