<p class="side-comment">النظام</p>

<li class="side a-collapse short">
  <a href="/dashboard" class="side-item">
    <i class="fas fa-tachometer-alt mr-1"></i> لوحة التحكم
  </a>
</li>

<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-school mr-1"></i> المدارس
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item">
      <a href="/schools">
        <i class="fas fa-angle-right mr-2"></i> جميع المدارس
      </a>
    </li>
    <li class="side-item">
      <a href="/super-admin/schools/add">
        <i class="fas fa-angle-right mr-2"></i> اضافة مدرسة جديدة
      </a>
    </li>
  </div>
</ul>

<ul class="side a-collapse">
  <a class="ul-text">
    <i class="fas fa-users-cog mr-1"></i> المدراء
    <i class="fas fa-chevron-down arrow"></i>
  </a>
  <div class="side-item-container">
    <li class="side-item"><a href="/admins">مدراء المدارس</a></li>
  </div>
</ul>
