<p class="side-comment">التدريس</p>

<li class="side a-collapse short">
  <a href="/dashboard" class="side-item">
    <i class="fas fa-chalkboard mr-1"></i> صفوفي
  </a>
</li>

<li class="side a-collapse short">
  <a href="/attendance" class="side-item">
    <i class="fas fa-clipboard-check mr-1"></i> الحضور
  </a>
</li>

<li class="side a-collapse short">
  <a href="/grades" class="side-item">
    <i class="fas fa-star mr-1"></i> الدرجات
  </a>
</li>
